<!DOCTYPE html>
<html lang="fr">
  <head>
     <title>{% block title %}Accueil VWEZ CV{% endblock %}</title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       {% block stylesheets %}
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- <link rel="stylesheet" href="{{ asset('/css/font-awesome.css') }}"> -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ asset('/css/style.css') }}"> 
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 

      <link   rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI=" crossorigin="anonymous">
      {% endblock %}
    </head>

    <body>

      <nav class="navbar  navbar-expand-lg navbar-dark navbar-bg mb-5" style=" ">  <a class="navbar-brand" href="#">VWEZ CV</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          	<span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="{{ path('app_accueil')}}">Accueil</a>
              </li>
              <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="{{ path('app_Portfolio')}}">Portfolio</a>
              </li>
              <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="{{ path('app_MesProjets')}}">Mes Projets</a>
              </li>
              <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="{{ path('app_Tutos')}}">Tutos et cours</a>
              </li>
              <li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="" aria-expanded="#">A propos de moi</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          				<a class="dropdown-item" href="{{ path('app_InformationsPersonnelles')}}">Informations personnelles</a>
          				<a class="dropdown-item" href="{{ path('app_Philosophie')}}">Philosophie</a>
          				<div class="dropdown-divider"></div>
          				<a class="dropdown-item" href="{{ path('app_Loisirs')}}">Loisirs et Divers</a>
        				</div>
      				</li>
      				<li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="{{ path('app_Mecontacter')}}">Me contacter</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Recherhcer..." aria-label="Search">
              <button class="btn btn-sm btn-outline-info my-2 my-sm-0" type="submit">Go</button>
             </form>
            
    			</div>
  		</nav>
      
      <hr>
      <dir class="row">
        <div class="col-sm-12 cv ">
          <div class="animated bounceInDown">CURRICULUM VITAE</div>
        </div>
      </dir>
           {% block body %}


           {% endblock %}

           <footer class="footer">
            <hr>
            <nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
              <!-- Navbar content -->
               <div class="container text-center">
                   <span class="text-muted">Made with <i class="fa fa-heart" style="color: red;"></i> by the guys and gals at <a href="https://knpuniversity.com">KnpUniversity</a></span>
               </div>
            </nav>
              
           </footer>

           {% block javascripts %}
           	<!-- 	<script rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI=" crossorigin="anonymous" /></script>  -->

               <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>

               <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

               
               <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

               <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->



               <script>
                   $('.dropdown-toggle').dropdown();
               </script>
           {% endblock %}
       </body>


</html>
